<!--Frame holds the three tabs that a user can view- loops, timer, and stats-->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="loops">
      <ion-label>Loops</ion-label>
      <ion-icon name="repeat-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="timer">
      <ion-label>Timer</ion-label>
      <ion-icon name="stopwatch-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="stats">
      <ion-label>Stats</ion-label>
      <ion-icon name="trending-up-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


