.timer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  letter-spacing: -1px;
}

.timer span {
  font-size: 2em;
  margin: 0 3px 0 15px;
}

.app-timer {
  font-size: 3em;
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.app-center-button {
  margin: auto;
  width: 50%;
}
